---
# yamllint disable rule:truthy rule:line-length
name: Container Build & Publish (template)

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request: {}

env:
  IMAGE_NAME: "{{PLACEHOLDER_IMAGE_NAME}}"
  REGISTRY: "ghcr.io"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and (optionally) push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.REGISTRY }}/lightning-it/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/lightning-it/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
